# Dependencies
node_modules/
backend/venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3
*.log
local_settings.py

# Environment variables
.env
dev.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
expenses.db

